
    <table class="table table-responsive" id="bang" style="background:none; table-layout: fixed">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="40%">
            <col width="30%">
            <col width="10%">
        </colgroup>
        <tr>
            <th>Mã câu hỏi</th>
            <th>Bài học</th>
            <th>Nội dung câu hỏi</th>
            <th>Ngày sửa cuối cùng</th>
            <th>Edit</th>
        </tr>
        {% for q in question%}
            <script>
                $(document).ready(function(){
                    $('#thay_doi_{{ forloop.counter }}').click(function(){
                        window.location.href='/edit-question/{{ q.id_question}}'

                    });
                    $('#xoa_{{ forloop.counter }}').click(function(){
                        var cfm = confirm("Xóa câu hỏi "+{{ q.id_question }})
                        if (cfm == true){
                            $.post('/delete-question/{{ q.id_question }}',{id_question:$("#xoa_{{ forloop.counter }}").val()},function(data){
                                $('#bang').html(data)
                            });
                        }
                    });
                });
            </script>
        <tr>
            <td>{{ q.id_question}}</td>
            <td>{{ q.lession }}</td>
            <td style="word-wrap: break-word">{{ q.content|slice:":135" }}</td>
            <td>{{ q.lastTimeChanged }}</td>
            <td><input type="button" class="btn-group-bt" value="Thay Đổi" id="thay_doi_{{ forloop.counter }}">
                <input type="button" class="btn-group-bt" value="Xóa" id="xoa_{{ forloop.counter }}">
            </td>
        </tr>
        {% endfor %}
    </table>