<style>
.bigtitle{ float:left; color:#00F; font-size:20px; width:700px; margin:30px 0 0 30px;}
.menu-item-cpanel{float:left; margin:20px 10px 10px 10px; width:200px; padding:10px 10px 10px 10px; border:2px solid #ffffff; font-size:18px; text-align: center}
.menu-item-cpanel:hover{ background:#006A00; color:#FFF;}
</style>
<h2>Vùng quản trị</h2>
<table class="table table-responsive" style="table-layout: fixed">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <tr>
        <td><a href="/question-list">
            <div class="menu-item-cpanel">
            Danh sách câu hỏi
            </div>
            </a>
        </td>
        <td>
            <a href="/add">
            <div class="menu-item-cpanel" >
            Thêm câu hỏi
            </div>
            </a>
        </td>
    </tr>
</table>
<h2>Vùng thông tin</h2>
<table class="table table-responsive" style="table-layout: fixed">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <tr>
        <td><a href="/doimatkhau">
            <div class="menu-item-cpanel">
            Đổi mật khẩu
            </div>
            </a>
        </td>
        <td>
            <a href="/statistic">
            <div class="menu-item-cpanel" >
            Thống kê
            </div>
            </a>
        </td>
        <td>
            <a href="/profile">
            <div class="menu-item-cpanel" >
            Thông tin tài khoản
            </div>
            </a>
        </td>
    </tr>
</table>
