<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Website trắc nghiệm trực tuyến</title>
    <link rel="shortcut icon" href="image/icon/uet.png" type="image/x-icon" />
    <meta name="description" content="Website trắc nghiệm trực tuyến" />
    <meta name="keywords" content="Website trắc nghiệm trực tuyến" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jq1.6.1.js"></script>
    <script src="/static/js/bootstrap-dialog.js"></script>
</head>
<body>
	<div class="header">
    <div class="header-center">
    	<div class="logo"></div>
        <div class="header-banner">
            <h1>Trắc Nghiệm Trực Tuyến</h1>
        </div>
    </div>
    </div>
    <div class="top-menu">
        <div class="top-center-menu">
            <a href="/"><div class="menu-item" >Trang chủ</div></a>
            <a href="/statistic"><div class="menu-item">Thống kê</div></a>
            <a href="/profile"><div class="menu-item">Hồ sơ</div></a>
            {% include login %}
         </div>
    </div>

    <div class="page">
    <div class="main_statistic">
    <h2>Quản lý danh sách câu hỏi</h2>
    <table class="table table-responsive" style="table-layout: fixed" id="bang">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="40%">
            <col width="30%">
            <col width="10%">
        </colgroup>
        <tr>
            <th>Mã câu hỏi</th>
            <th>Bài học</th>
            <th>Nội dung câu hỏi</th>
            <th>Ngày sửa cuối cùng</th>
            <th>Edit</th>
        </tr>
        {% for q in question%}
            <script>
                $(document).ready(function(){
                    $('#thay_doi_{{ forloop.counter }}').click(function(){
                        window.location.href='/edit-question/{{ q.id_question}}'

                    });
                    $('#xoa_{{ forloop.counter }}').click(function(){
                        var cfm = confirm("Xóa câu hỏi "+{{ q.id_question }})
                        if (cfm == true){
                            $.post('/delete-question/{{ q.id_question }}',{id_question:$("#xoa_{{ forloop.counter }}").val()},function(data){
                                $('#bang').html(data)
                            });
                        }
                    });
                });
            </script>
        <tr>
            <td>{{ q.id_question}}</td>
            <td>{{ q.lession }}</td>
            <td style="word-wrap: break-word">{{ q.content|slice:":135" }}</td>
            <td>{{ q.lastTimeChanged }}</td>
            <td><input type="button" class="btn-group-warning" value="Thay Đổi" id="thay_doi_{{ forloop.counter }}">
                <input type="button" class="btn-group-dannger" value="Xóa" id="xoa_{{ forloop.counter }}">
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
<div class="footer">
    <div class="footer-bottom"><div class="footer-bottom-center">
    	<span> &nbsp; &copy; 2013 Copyright <a href="./">UET - Team </a>. All right reserved</span>
        <div class="bottom-bar-menu" style="text-align:right;">
            University of Engineering and Technology &nbsp;<br/>
            Ha Noi , Viet Nam &nbsp;
        </div>
    </div></div>
</div>
</body>
</html>
