<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Website trắc nghiệm trực tuyến</title>
    <link rel="shortcut icon" href="image/icon/uet.png" type="image/x-icon" />
    <meta name="description" content="Website trắc nghiệm trực tuyến" />
    <meta name="keywords" content="Website trắc nghiệm trực tuyến" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
    <div class="header-center">
    	<div class="logo"></div>
        <div class="header-banner">
            <h1>Trắc Nghiệm Trực Tuyến</h1>
        </div>
    </div>
    </div>
    <div class="top-menu">
        <div class="top-center-menu">
            <a href="/"><div class="menu-item" >Trang chủ</div></a>
            <a href="/statistic"><div class="menu-item">Thống kê</div></a>
            <a href="/profile"><div class="menu-item">Hồ sơ</div></a>
            {% include login %}
         </div>
    </div>
    <div class="page">
    <div class="main_statistic">
    <h2>Thông tin tài khoản</h2>
    <table class="table table-responsive">
        <tr>
            <td>Mã câu hỏi</td>
            <td>Bài học</td>
            <td>Nội dung câu hỏi</td>
            <td>Ngày sửa cuối cùng</td>
            <td>Edit</td>
        </tr>
        {% for q in question %}
        <tr>
            <td>{{ q.id_question}}</td>
            <td>{{ q.lession }}</td>
            <td>{{ q.content }}</td>
            <td>{{ q.lastTimeChanged }}</td>
            <td><a href="/edit/{{ q.id_question }}"><b>Thay đổi</b></a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
<div class="footer">
    <div class="footer-bottom"><div class="footer-bottom-center">
    	<span> &nbsp; &copy; 2013 Copyright <a href="./">UET - Team </a>. All right reserved</span>
        <div class="bottom-bar-menu" style="text-align:right;">
            University of Engineering and Technology &nbsp;<br/>
            Ha Noi , Viet Nam &nbsp;
        </div>
    </div></div>
</div>
</body>
</html>
