<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Website trắc nghiệm trực tuyến</title>
    <link rel="shortcut icon" href="image/icon/uet.png" type="image/x-icon" />
    <meta name="description" content="Website trắc nghiệm trực tuyến" />
    <meta name="keywords" content="Website trắc nghiệm trực tuyến" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
    
        
    $(function(){
    for (var i=0;i<{{number_of_list}};i++)
        $("#list").append("<br><td>" + i + "</td>" + " " + {{user_name_list}});

    });
</script>

</head>


<body>
	<div class="header">
    <div class="header-center">
    	<div class="logo"></div>
        <div class="header-banner">
            <h1>Trắc Nghiệm Trực Tuyến</h1>
        </div>
    </div>
    </div>
    <div class="top-menu">
        <div class="top-center-menu">
            <a href="/"><div class="menu-item" >Trang chủ</div></a>
            <a href="/statistic"><div class="menu-item">Thống kê</div></a>
            <a href="/profile"><div class="menu-item">Hồ sơ</div></a>
            {% include login %}
         </div>
    </div>
    <div class="page">
    <div class="main_statistic">
    <h2>Bảng xếp hạng thành tích người học</h2>
    <table class="table table-responsive">
        <tr>
            <td>Tên đăng nhập</td>
            <td>Tổng số điểm</td>
        </tr>
        {% for r in total_score%}
            <tr>
                
                <td>{{ r.user_name }}</td>
                <td>{{ r.total_score }}</td>
                
            </tr>
        {% endfor %}
                  
    
    </table>
    </div>
    </div>
<div class="footer">
    <div class="footer-bottom"><div class="footer-bottom-center">
    	<span> &nbsp; &copy; 2013 Copyright <a href="./">UET - Team </a>. All right reserved</span>
        <div class="bottom-bar-menu" style="text-align:right;">
            University of Engineering and Technology &nbsp;<br/>
            Ha Noi , Viet Nam &nbsp;
        </div>
    </div></div>
</div>
</body>
</html>
