<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Website trắc nghiệm trực tuyến</title>
    <link rel="shortcut icon" href="image/icon/uet.png" type="image/x-icon" />
    <meta name="description" content="Website trắc nghiệm trực tuyến" />
    <meta name="keywords" content="Website trắc nghiệm trực tuyến" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
    <div class="header-center">
    	<div class="logo"></div>
        <div class="header-banner">
            <h1>Trắc Nghiệm Trực Tuyến</h1>
        </div>
    </div>
    </div>
    <div class="top-menu">
        <div class="top-center-menu">
            <a href="/"><div class="menu-item" >Trang chủ</div></a>
            <a href="/statistic"><div class="menu-item">Thống kê</div></a>
            <a href="/profile"><div class="menu-item">Hồ sơ</div></a>
            {% include login %}
         </div>
    </div>
    <div class="page">
    <div class="main_statistic">
    <h2>Thành tích</h2>
    <table class="table table-responsive">
        <tr>
            <th>Lession</th>
            <th>Điểm số</th>
            <th>Đúng</th>
            <th>Sai</th>
            <th>Đã trả lời</th>
            <th>Xếp loại</th>
            <th>Lần làm bài cuối cùng</th>
        </tr>

            {% for r in result%}
        <tr>
                <td>{{ r.lession }}</td>
                <td>{{ r.scores }}</td>
                <td>{{ r.correct_answers }}</td>
                <td>{{ r.wrong_answers }}</td>
                <td>{{ r.total_answers }}</td>
                <td>{{ r.rate }}</td>
                <td>{{ r.last_time }}</td>
        </tr>
            {% endfor %}

    </table>
    </div>
    </div>
<div class="footer">
    <div class="footer-bottom"><div class="footer-bottom-center">
    	<span> &nbsp; &copy; 2013 Copyright <a href="./">UET - Team </a>. All right reserved</span>
        <div class="bottom-bar-menu" style="text-align:right;">
            University of Engineering and Technology &nbsp;<br/>
            Ha Noi , Viet Nam &nbsp;
        </div>
    </div></div>
</div>
</body>
</html>
